.cartButton {
  transition: background-color 0.25s;
}
.cartButton:hover {
  background-color: #eeeeee;
}
.cartButton:disabled {
  pointer-events: none;

  fill: #ababab;
  background-color: #eeeeee;
}
.open {
  pointer-events: none;

  border-color: #213547;
  background-color: #213547;
  fill: white;
  color: white;
}
