.cartButton {
  border: 1px solid gray;
  background-color: transparent;

  transition: background-color 0.25s;
}
.cartButton:hover {
  background-color: #eeeeee;
}
.cartButton:disabled {
  pointer-events: none;

  fill: #ababab;
  background-color: #eeeeee;
}
