.card {
  box-sizing: border-box;
  border: 1px solid gray;
  border-radius: 8px;
  padding: 8px;

  text-align: center;
}

.cardHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.category {
  font-size: 12px;
  font-style: italic;
  color: gray;
}
.icons {
  /* empty styles */
}

.price {
  font-weight: bold;
  color: goldenrod;
}

.status {
  font-weight: bold;
}
.inStock {
  color: green;
}
.outOfStock {
  color: red;
}

.button {
  box-sizing: border-box;
  min-width: 122px;
  border: 1px solid gray;
}
