.searchInput {
  padding: 12px 16px 4px;

  font-size: 51px;

  flex-grow: 1;
}
.searchInput::-webkit-search-cancel-button {
  appearance: none;

  width: 16px;
  height: 16px;

  background-repeat: no-repeat;
  background-image: url(/icons/cross_icon.svg);
  background-size: contain;

  cursor: pointer;
}
